<%= form_with(model: quest_card, local: true) do |form| %>
    <div>
      <%= form.label :name, "カード名" %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :color, "色" %>
      <%= form.select :color, ["blue", "green", "yellow", "red", "gold", "platinum", "black"] %>
    </div>
    <div>
      <%= form.label :used, "使用済み" %>
      <%= form.check_box :used %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
  